{erl_opts, [
	debug_info,
	inline_list_funcs,
	warn_deprecated_function,
	warn_export_all,
	warn_export_vars,
	warn_obsolete_guard,
	warn_shadow_vars,
	warn_untyped_record,
	warn_unused_function,
	warn_unused_import,
	warnings_as_errors,
	{parse_transform, lager_transform},
	{native, o3}
]}.

{relx, [
	{release, {knot, "0.1.0"}, [
		knot,
		sasl
	]},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

	{dev_mode, true},
	{include_erts, false},

	{extended_start_script, true}
]}.

% Bug in rebar -- doesn't work as expected yet
%%{cover_enabled, true}.

{profiles, [
	{prod, [
		{relx, [
			{dev_mode, false},
			{include_erts, true}
		]},
		{cover_enabled, false}
	]}
]}.

{xref_checks, [
	undefined_function_calls,
	undefined_functions,
	locals_not_used,
	%% exports_not_used,
	deprecated_function_calls,
	deprecated_functions
]}.

{plugins, [
	{rebar3_erlydtl_plugin, {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.
