{erlydtl_opts, [
	debug_info,
	{doc_root, "templates"},
	{custom_tags_dir, "templates/dtl_tags"}
]}.

{deps, [
	{jsx,     {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
	{erlydtl, {git, "https://github.com/erlydtl/erlydtl.git",   {branch, "master"}}},
	{cowboy,  {git, "https://github.com/ninenines/cowboy.git",  {ref, "dbb636034"}}},
	{pubsub,  {git, "https://github.com/ricecake/pubsub",       {branch, "master"}}},
	{lager,   {git, "https://github.com/basho/lager",           {branch, "master"}}},
	{uuid,    {git, "https://github.com/okeuday/uuid.git",      {branch, "master"}}}
]}.

{provider_hooks, [
	{post, [
		{compile, {erlydtl, compile}}
	]}
]}.
