<div class='content'>
	<div id='knot-canvas' >
		<canvas class='canvas' width='<% width %>' height='<% height %>' id='system-overlay' ></canvas>
		<canvas class='canvas' width='<% width %>' height='<% height %>' id='canvas' ></canvas>
	</div>
	<div id='controls'>
		<div class='input-container'>
			<label for='colorpicker'> Color:</label>
			<input id='colorpicker' data-role='none' type='color' name='color' value='#000000' />
			<label for='size-control'>Size:</label>
			<div id='size-control' type='range' value=5 min=1 max=150></div><input id='size-display'>
		</div>
		<button id='clear-canvas' type='button'>Clear</button>
	</div>
</div>
