.videofeed-container {
	height: 100%;
	box-sizing: content-box;
	max-height: 100vh;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.videofeed-container video {
	width: 70vw;
	max-height: 80vh;
	max-width: 70vw;
	flex-grow: 0;
	flex-shrink: 1;
	z-index: 1;
}

.videofeed-container video.pip {
	box-shadow: -1px -1px 6px #000;
	max-width: 25%;
	flex-basis: 10%;
	order: 1;
}

.videofeed-container video.main {
	margin-top: 1em;
	z-index: 0;
	order: 2;
}
