.whiteboard .viewer {
	width: 15px;
	height: 15px;
	display: inline-block;
}

.whiteboard .info-bar {
	position: fixed;
	top: 3px;
	width: 50px;
	left: calc(100% - 50px);
}

.whiteboard .controls {
	bottom: 85%;
	width: 100%;
	height:15%;
}

.whiteboard .size-control {
	width: 50%;
	display: inline-block;
}

.whiteboard .canvas-container {
	position: relative;
	cursor: none;
	border-bottom: 3px solid black;
	width: 100%;
	height: 85%;
}

.whiteboard .canvas {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}

.whiteboard .system-overlay {
	z-index: 200;
}

.whiteboard .canvas {
	z-index: 100;
}
